.navBarSalir{
    
    background-color: transparent;
    filter: opacity(95%);

     
}

.overlay{
    background-color: black;
}

A:link {
    text-decoration: none;
    padding: 6px;
    margin-top: -5px; 
    float: none;
    display: inline-block;
    
}
A:hover { 
    color: white; 
    font-family: arial;
    text-decoration: none 
    
}
A:visited {color:white;  
    font-family: arial; 
    text-decoration: none 
    
}